{% extends template('layout', 'Application') %}

{% block body %}
    <div class="row align-items-end">
        <div class="col">
            <h1>Xervice</h1>
            <p>xervice is running</p>
        </div>
    </div>
{% endblock %}