language: php

php:
  - '7.1'
  - '7.2'

before_install:
  - composer global require hirak/prestissimo

services:
  - rabbitmq
  - redis
  - postgresql

env:
  - APPLICATION_ENV=scrutinizer

install:
  - composer install --no-progress --profile

script:
  - vendor/bin/xervice dataprovider:generate
  - vendor/bin/xervice propel:config:generate
  - vendor/bin/xervice propel:model:build
  - vendor/bin/xervice propel:migrate
  - vendor/bin/codecept run --coverage --coverage-xml

after_success:
  - php bin/ocular.phar code-coverage:upload --format=php-clover tests/_output/coverage.xml